* {
  padding: 0;
  margin: 0;
}
body{
  max-width: 1920px;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
nav{
  width: 100%;
  background-color: black;
  display: flex;
    position: fixed;
    z-index: 1;
}
.navlave{
  flex: 1;
  padding: 20px;
}
.navprave{
  flex: 1;


}
nav a {

  text-decoration: none;
  color: white;
  padding: 20px;
  padding-left: 30px;
  font-size: 20px;
}
nav a:hover{
  color: #ccc;
}
.zaciatok{

  width: 100%;
  min-height: 1000px;
}
.zaciatok p {
  padding: 40px;
  font-size: 40px;
  padding-top: 100px;
}
.prvaikona{
 display: grid;
 justify-content: center;
 align-items: center;

}
i.bi.bi-arrow-down{
  text-align:center;
  position: relative;
  top: 200px;

}

.prvaikona i {
  font-size: 40px;


    width: 100px;
    height: 100px;
  line-height: 30px;
}
.prvaikona a i {
  width: 100px;
  height: 100px;
}
.stred{
  width: 100%;
  min-height: 1000px;
  background-image: url(obr/men.png);
}
.text{
  max-width: 400px;
  padding: 60px;
  margin: 20px;
}
.text p {
  font-size: 30px;
  color: white;
z-index: 0;

}
.dalsie{
  width: 100%;
  min-height: 1000px;
 display: flex;
  justify-content: center;
  align-items: center;


}
.lave{
  flex: 1;
  display: flex;

}
.prave{
  flex: 1;
 display: flex;

}
.prave img{
  width: 100%;
  height: 100%;
}
.lave p {
  text-align: left;
  padding: 40px;
  line-height: 25px;
  font-size: 20px;
}

.zaciatok p{
background: linear-gradient(90deg,#fadb61 0%, #ff006a 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.zaciatok p{
  animation: hueRotate 7s alternate infinite;
}
footer{
 width: 100%;
 height: 70px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: black;
 color: white;
}
footer p{
  letter-spacing: 2px;
}





#ubuntu{
  font-size: 40px;
  color: white;
  padding: 130px;
 position: relative;
 bottom: 50px;
}
@keyframes hueRotate{
 0% {
filter: hue-rotate(279deg);
 }
50%{
  filter: hue-rotate(197deg);
}
100%{
  filter: hue-rotate(12deg);
}
}
#naspat {
 float: right;



}
}

@media only screen and (max-width: 450px){
  #daco {
    right: 30px;
  }
}
@media only screen and (max-width: 500px){
  .navlave{
    display: flex;
    padding: 0;
  }
  .navprave{
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    }
nav{

}
.navprave a {
  font-size: 15px;
}
  .dalsie{
    display: block;
  }
  #daco{
top: 0;
  }
#ubuntu{
  padding: 0;
  left: 115px;
  bottom: 0;
  top: 200px;

}
}
@media only screen and (max-width: 661px){
nav{
  max-height: 70px;
}
 .navlave{
   display: flex;
   align-items: center;
 }
.navprave{

  display: flex;
  align-items: center;
  justify-content: flex-end;

}

}
@media only screen and (max-width: 500px){
nav a{
  padding: 10px;
}
nav{
  height: 65px;
}
.stred{
  width: 100%;
}

.navprave{
  padding: 0;
}
.zaciatok p {
  font-size: 25px;
}
.dalsie{
      display: block;
}
.lave{
  flex-direction: column;
}
.prave {
  flex-direction: column;

}
.text p {
  font-size: 25px;
}
.text{
  padding: 40px;
}
.navlave{
 align-items: center;

}



}
