body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #000;
      background:linear-gradient(315deg,#ffffff 0%,#d7e1ec 74%);
      overflow-x: hidden;
			max-height: 900px;
      display:grid;

			max-width: 1920px;
			max-height: 1080px;


  }


header {
      background-color: #0B60FF;
      background-size: cover;
      position: fixed;
      width: 100%;



      padding: 20px;
  }

header h1 {
      margin: 0;
      font-size: 36px;
  }


header nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

header nav ul li {
      display: inline-block;
      margin-right: 20px;

  }

header nav ul li a {
        color: white;
      text-decoration: none;
  }
header nav ul li a:hover{
  color:black;
}

main {
      padding: 20px;
  }
h1:hover {
	color: #0B60FF;
}
.stred{
max-width: 1920px;
background-image: url(obr/neviem.jpg);
min-height: 720px;

}
.spodne{
max-width: 1920px;
min-height: 720px;
background-image: url(obr/nie.jpg);
color: white;
text-align: center;
justify-content: center;
align-items: center;


}
.dolne{
  max-width: 1920px;
  min-height: 590px;
  color: white;
background-image: url(obr/neviem.jpg);
  color: black;

}
.omne_container{

 justify-content: center;
 align-items: center;
 text-align: center;
 margin-top: 100px;
min-height: 400px;
display: flex;
}

.omne_text{
 width: 50%;
 text-align: justify;
 line-height: 20px;
 font-size: 17px;
 padding-left: 50px;

}
.omne_text b {
  color: gray;
}
.omne_img{
  width: 50%;
}
.omne_container img{
  width: 500px;
  height: 300px;
  padding-left: 50px;
}

.css span{
  padding-top: 30px;

}
.python{
  padding-top: 30px;
}
.php{
  padding-top: 30px;
}
footer {
      background-color: black;
      padding: 10px;
      text-align: center;
      bottom: 200px;
      position:static;
     	color: #0B60FF;
  }

  .wrapper{
padding-top: 50px;




  }
.wrapper .button{

border-radius:50px;
height:60px;
width:60px;
background-color:#fff;
margin 0 5px;
cursor:pointer;
box-shadow: 0px 10px 10px rgba (0,0,0,0.1);
transition:all 0.3s ease-out;
margin:80px;

}
.wrapper .button .icon {
display:inline-block;
height:60px;
width:60px;
text-align:center;
border-radius:50px;
box-sizing:border-box;
line-height:60px;
transition: 0.3s ease-out;
}
.wrapper .button :hover {
  width:200px;

}
.wrapper .button .icon i{
  font-size:25px;
  line-height:60px;

}
.wrapper .button span{
font-size:20px;
font-weight:500;
line-height:60px;
margin-left:10px;


}

.wrapper .button:nth-child(1):hover .icon {
  background: #fff;

}
.wrapper .button:nth-child(2):hover .icon {

}
.wrapper .button:nth-child(3):hover .icon {
  background: #fff;
}
h1 {
 text-align :center;
 font-family:sans-serif;
 color: white;

}
.wrapper .container .button i {
	color: orange;
}
.wrapper .container1 .button i {
	color: red;
}
.wrapper .container2 .button i {
color: #1b2838;
}
.wrapper .container3 .button i {
color:#1DB954
}



.stredne h1 {
  text-align: center;
 position: relative;
	bottom: 450px;
	font-family: inherit;
	font-size: 40px;

}

section {
    height: 100vh;
    font-size: 100px;
    font-weight: bold;
    transition: all 200ms;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    display: grid;
    place-items: center;
    z-index: 1;
    cursor: pointer;

    padding: 20px;
}

/*Vibration*/
.vibration span{
    transition: all 500ms;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin-right: 10px;
    text-shadow: 1px 2px 3px #000000;
}
.vibration span:hover{
    filter: blur(3px);
    animation: vibrate 50ms linear infinite forwards;
}
/*VIBRATE ANIMACIE*/
@keyframes vibrate{
    0% {
        transform: translateX(-1px) translateY(1px);
    }
    100% {
        transform: translateX(1px) translateY(-2px);
    }
}
.glow{
  font-size: 60px;
  padding-bottom: 20px;
}
.glow span {
    color: #fff;
    transition: all 300ms;
}
.glow span:hover {
    text-shadow: 0 0 10px #0698a5,
                 0 0 30px #0698a5,
                 0 0 80px #0698a5,
                 0 0 120px #0698a5,
                 0 0 200px #0698a5;
}
.spodne img:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/*SHAKE ANIMACIE*/

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px)rotate(1deg); }
50% { transform: translate(-1px, 2px)rotate(-1deg); }
60% { transform: translate(-3px, 1px)rotate(0deg); }
70% { transform: translate(3px, 1px)rotate(-1deg); }
80% { transform: translate(-1px, -1px)rotate(1deg); }
90% { transform: translate(1px, 2px)rotate(0deg); }
100% { transform: translate(1px, -2px)rotate(-1deg); }
}
/*MEDIA PRIKAZ*/
@media only screen and (max-width: 1337px){
.omne_img{
  flex-direction: column;
}
.omne_container{
  display: block;
}




}
@media only screen and (max-width: 300px){
.omne_text{
width: 75%;
}
}
@media only screen and (max-width: 300px){
.wrapper{
  position: inherit;
}
.omne_img img{
  max-width: 200px;
  max-height: 120px;
}
.omne_text{
  width: 75%;
}

}
@media only screen and (max-width: 400px) {
body {
 overflow-x:hidden;



}
.wrapper{
	position:relative;
	bottom:40px;
  right: 35px;

}




}
